<div style="width: 100%; margin-left:45%; margin-top:70px">
    <div>
        <input id="chatbox">
        <button id="send">Enviar</button>
    </div>
    <p id="messageLogs" style="flex-direction: column-reverse;"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>